<p>
  {{name}}
</p>
<p>
  you can navigate your welcome page <a routerLink="/todos">here</a>
</p>

<!-- <p>{{title}}</p>
<p>{{a}}</p>
<p>{{b}}</p>
<p>{{c}}</p>
<p>{{message}}</p>
   <div class="container">
    Click here to get a customized welcome message 
    <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Get change Message</button>
  </div>
  <div class="container">
    You can manage your todos <a routerLink="/newPage">here</a>
  </div>
  <div class="container">
    Click here to get a customized welcome message 
    <button (click)="getReverChanges()" class="btn btn-success">revert messsages</button>
  </div> 
  <div class="container">
    Click here to get a customized welcome message 
    <button (click)="getReverChanges()" class="btn btn-success">revert messsages</button> -->
  <!-- </div>  -->

